.banner {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
}

.banner-info {
  margin-left: 200px;
}

.banner-info p {
  margin-bottom: 32px;
}
